In [1]:
import pandas as pd

# Generate dataset cap300 filled with iNat elements
## TO DO

- Extraire les deux datasets (cap300 et bigboxes)
- Pour les éléments en dessous de 300 on ajoute des éléments de bigboxes dans l'ordre

In [4]:
df_iNat = pd.read_csv('../../data/inputs/iNat1000/iNat1000-large_goodpath.csv',
                       names = ["path","x1","x2","y1","y2","label","height","width"])
df_iNat

,path,x1,x2,y1,y2,label,height,width
0,iNat-1000/106367477.jpeg,43.120589,98.008662,345.840489,356.326044,MESCHA,374,500
1,iNat-1000/62681965.jpeg,152.044192,21.468124,376.519464,366.795301,MESCHA,500,375
2,iNat-1000/112038514.jpg,66.734814,14.979828,290.672062,327.218971,MESCHA,500,339
3,iNat-1000/33724828.jpeg,153.750000,10.306891,360.255142,321.757813,MESCHA,500,333
4,iNat-1000/38876282.jpeg,93.028712,70.601577,358.559881,291.347125,MESCHA,500,373
...,...,...,...,...,...,...,...,...
7711,iNat-1000/175040548.jpeg,166.499402,73.111671,307.962069,303.060700,MESHUP,500,363
7712,iNat-1000/65279124.jpg,227.295294,108.383142,422.867212,331.012894,MESHUP,486,500
7713,iNat-1000/154314194.jpg,191.951872,68.955300,317.109364,337.185349,MESHUP,500,375
7714,iNat-1000/79480574.jpeg,152.301755,150.000000,335.714286,332.935072,MESHUP,500,375
7715,iNat-1000/57993623.jpeg,162.861498,101.418399,314.285714,322.857143,MESHUP,500,375

In [5]:
df_cap300 = pd.read_csv('../../data/inputs/input_caped/input_train_caped_300.csv',
                       names = ["path","x1","x2","y1","y2","label","height","width"])
df_cap300

,path,x1,x2,y1,y2,label,height,width
0,task_05-01-2021/2021-01-05-15-58-14.jpg,885.696,603.8400,1918.080,1088.0000,SITTOR,1920.0,1088.0
1,task_05-01-2021/2021-01-05-15-58-23.jpg,0.000,158.0864,243.264,569.1328,MESBLE,1920.0,1088.0
2,task_05-01-2021/2021-01-05-15-59-19.jpg,856.704,711.8784,1920.000,1088.0000,SITTOR,1920.0,1088.0
3,task_05-01-2021/2021-01-05-15-59-22.jpg,758.400,653.9968,1829.376,1088.0000,SITTOR,1920.0,1088.0
4,task_05-01-2021/2021-01-05-15-59-46.jpg,1256.256,484.1600,1920.000,1080.2752,SITTOR,1920.0,1088.0
...,...,...,...,...,...,...,...,...
3536,task_21-01-2021/2021-01-21-14-23-36.jpg,634.944,187.0272,1169.472,995.5200,MESCHA,1920.0,1088.0
3537,task_21-01-2021/2021-01-21-14-26-23.jpg,673.536,227.5008,1408.704,723.4112,MESBLE,1920.0,1088.0
3538,task_21-01-2021/2021-01-21-14-26-50.jpg,876.096,374.1632,1291.008,735.0528,MESNON,1920.0,1088.0
3539,task_21-01-2021/2021-01-21-14-27-03.jpg,783.552,210.2016,1468.416,1088.0000,MESNON,1920.0,1088.0
3540,task_21-01-2021/2021-01-21-14-32-19.jpg,688.896,271.8912,1078.656,628.8640,MESBLE,1920.0,1088.0

In [10]:
list_labels_iNat = list(df_iNat["label"].unique())
list_labels_cap300 = list(df_cap300["label"].unique())
print(list(set(list_labels_iNat) - set(list_labels_cap300)))

[]

In [12]:
def print_number_of_object_pr_classes(list_labels,df):
    for label in list_labels_cap300:
        print(f"{label} {len(df[df['label'] == label])}")
print_number_of_object_pr_classes(list_labels_cap300,df_cap300)

SITTOR 300
MESBLE 300
MESNON 300
PINARB 300
MESCHA 300
ACCMOU 300
ROUGOR 213
VEREUR 300
TOUTUR 82
MOIDOM 100
ECUROU 300
PIEBAV 300
MULGRI 97
CAMPAG 16
MESNOI 217
MESHUP 116

In [19]:
def fill_df_cap300(df_cap300,df_iNat):
    list_df_to_add = [df_cap300]
    for label in list_labels_cap300:
        if len(df_cap300[df_cap300['label'] == label]) < 300: 
            number_to_add = 300 - len(df_cap300[df_cap300['label'] == label])
            df_to_add = df_iNat[df_iNat['label'] == label].iloc[:number_to_add]
            list_df_to_add.append(df_to_add)
    df = pd.concat(list_df_to_add, ignore_index = True, axis = 0)
    return df
        
_ = fill_df_cap300(df_cap300, df_iNat)
_

,path,x1,x2,y1,y2,label,height,width
0,task_05-01-2021/2021-01-05-15-58-14.jpg,885.696000,603.840000,1918.080000,1088.000000,SITTOR,1920.0,1088.0
1,task_05-01-2021/2021-01-05-15-58-23.jpg,0.000000,158.086400,243.264000,569.132800,MESBLE,1920.0,1088.0
2,task_05-01-2021/2021-01-05-15-59-19.jpg,856.704000,711.878400,1920.000000,1088.000000,SITTOR,1920.0,1088.0
3,task_05-01-2021/2021-01-05-15-59-22.jpg,758.400000,653.996800,1829.376000,1088.000000,SITTOR,1920.0,1088.0
4,task_05-01-2021/2021-01-05-15-59-46.jpg,1256.256000,484.160000,1920.000000,1080.275200,SITTOR,1920.0,1088.0
...,...,...,...,...,...,...,...,...
4511,iNat-1000/172972769.jpeg,46.805381,84.112512,391.520415,283.063475,MESHUP,500.0,375.0
4512,iNat-1000/59444647.jpg,199.582147,56.821430,446.520355,328.621943,MESHUP,500.0,369.0
4513,iNat-1000/57993628.jpeg,132.857143,75.714286,411.428571,320.000000,MESHUP,500.0,375.0
4514,iNat-1000/102918576.jpeg,166.853631,45.654534,413.879307,321.022376,MESHUP,500.0,375.0
4515,iNat-1000/155815267.jpeg,15.901405,115.933226,339.276844,301.988149,MESHUP,500.0,333.0

In [20]:
print_number_of_object_pr_classes(list_labels_cap300,_)

SITTOR 300
MESBLE 300
MESNON 300
PINARB 300
MESCHA 300
ACCMOU 300
ROUGOR 300
VEREUR 300
TOUTUR 300
MOIDOM 300
ECUROU 300
PIEBAV 300
MULGRI 300
CAMPAG 16
MESNOI 300
MESHUP 300

In [22]:
_.to_csv('../../data/inputs/input_caped/input_train_cap300_filled_iNat.csv', header=False,index=False)